<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>About Page</title>
</head>
<body>

    <div class="home">
        <header>
            <h1>About</h1>
            <h2>What is Playlists Compare With Spotify?</h2>
            <h4>Who made it?</h4>
        </header>
    </div>

    <div>
        <% if (!session.isAuth) { %>
            <span id="redirect"><a href="/"><h4>Home</h4></a></span>
            <form action="/auth" method="GET">
                <button id="log">
                    Log in
                </button>
            </form>
        <% } else { %>
            <span id="redirect"><a href="/"><h4>Home</h4></a></span>
            <form action="/auth/logout" method="POST">
                <button id="log">
                    Log out
                </button>
            </form>
        <% } %>
    </div>

    <div class="flex">
        <div id="spotifyAbout">
            <div class="item1" data-aos="fade-left" data-aos-delay="50"
            data-aos-duration="1000" data-aos-once="false">
                <h1>What is Playlists Compare with Spotify?</h1>
                <div><p>This is a web application made with the purpose of allowing people to <span>compare</span> their own <span>Spotify playlists</span>
                    with others' or their own! <br><br>
                     You can compare <span>any</span> playlist you'd like as long as you're able to get it's link or ID.  <br><br>
                    This was built using the <span>Spotify API</span>, <span>MongoDB</span>, <span>Express</span>, <span>NodeJS</span>, <span>EJS</span>, 
                    <span>CSS</span>, <span>Animate on Scroll</span>, and <span>vanilla JavaScript</span>.
                </p>
                <p>
                    <span><img src="./github2.png" style="width:40px;"></span> 

                    <a href="https://github.com/justbustin/Playlists-Compare-With-Spotify" target="_blank" style="color:rgb(191, 191, 191);"> 
                        github.com/justbustin/Playlists-Compare-With-Spotify
                    </a>
                </p>
                <h4>THIS WAS NOT MADE NOR ENDORSED BY THE OFFICIAL SPOTIFY</h4>
            </div>
            </div>

            <div class="divider" data-aos="fade-in" data-aos-delay="50"
            data-aos-duration="1000" data-aos-once="false"></div>

            <div class="item2" data-aos="fade-right" data-aos-delay="50"
            data-aos-duration="1000" data-aos-once="false">
               <img src="./compare.png"> 
            </div>
        </div>
        <div id="spotifyAbout">
            <div class="item2" data-aos="fade-up" data-aos-delay="50"
            data-aos-duration="1000" data-aos-once="false">
                <img src="./octocat.jpg"> 
            </div>
            
            <div class="divider" data-aos="fade-in" data-aos-delay="50"
            data-aos-duration="1000" data-aos-once="false"></div>

            <div class="item1" data-aos="fade-down" data-aos-delay="50"
            data-aos-duration="1000" data-aos-once="false">
               <h1>Who am I?</h1>
                <div>
                    <p>Hey! My name is <span>Justin</span>, and I'm a web developer who's learning more about programming everyday. I love exploring new technologies
                    and learning new things! My primary goal as a <span>developer</span> is to further develop my skills, and make everyday life for others just a little bit cooler! <br><br> Afterall, it's the <span>buildup of little things</span> that eventually <span>change</span> the world. 
                    <br><br> Checkout my @'s below! <br>
                    </p>
                </div>
                <div>
                    <p><span><img src="./github2.png" style="width:40px;"></span> 
                        <a href="https://github.com/justbustin" target="_blank" style="color:rgb(191, 191, 191);"> 
                            https://github.com/justbustin
                        </a>
                    </p>
                    <p><span><img src="./youtube.png" style="width:40px;"></span> 
                        <a href="https://www.youtube.com/channel/UCZtxgKiKQ7_zS6nA-x4VQyA/featured" target="_blank" style="color:rgb(191, 191, 191);"> 
                            youtube
                        </a>
                    </p>
                </div>
            </div>
        </div>


        <div id="contactMe" data-aos="fade-in" data-aos-delay="50"
        data-aos-duration="1000" data-aos-once="false">
            <h1>Contact me!</h1>
            <form action="https://formsubmit.co/justbustin34@gmail.com" method="POST">
                <input type="hidden" name="_subject" value="New email from compare spotify">
                <div id="email">
                    <input type="email" name="email" placeholder="Your email address" required>
                </div>
                
                <input type="hidden" name="_next" value="http://localhost:3000/about">
                <div id="message">
                    <textarea type="text" name="message" placeholder="Your message" rows="14" cols="10" wrap="soft" required></textarea>
                    <button type="submit" id="submit">Send</button>

                </div>
                
                
           </form>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>